.navbar {
  background-color: #F7F7F7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  color: #ff0000;
  font-weight: bold;
  padding: 15px;
  margin-left: 10px;
}

.nav-links {
  display: flex;
  padding: 25px;
  margin-right: 10px;
  color: #000;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
}

.nav-links a:hover {
  color: #ff0000;
}

.search-bar {
  position: relative;
  width: 500px;
  margin: 0 40px;
  /* Maintains gap between logo and nav-links */
}

.search-input {
  width: 100%;
  padding: 12px 14px 12px 40px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
}

.search-input:focus {
  border-color: #6366f1;
}

.search-icon {
  position: absolute;
  left: 12px;
  top: 25%;
  color: #9ca3af;
  font-size: 16px;
  pointer-events: none;
}

.login-btn {
  margin-right: 15px;
  padding: 10px;
  width: 150px;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #000;
  background-color: #efefef;
  border: 1px solid #ccc;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #ff0000;
  color: #fff;
}