.navbar {
  display: flex;
  padding: 8px;
  background: #f5f5f5;
  border-radius: 6px;
  justify-content: space-around;
}

.navbar a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  align-content: center;    
}

.navbar a.active {
  font-weight: bold;
  border: 2px solid rgb(181, 166, 166);
  background-color: rgb(155, 128, 122);
  padding: 4px;
  border-radius: 6px;
  color:rgb(255, 255, 255);
}
